#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --ip=172.17.18.10 --netmask=255.255.255.0 --gateway=172.17.18.1 --device=ens3 --ipv6=auto --activate
network  --bootproto=static --ip=172.17.22.10 --netmask=255.255.255.0 --device=ens4 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$RpQczvEpSDT8PZXS$dXB71U25YqH6bsbo6j.P8cAJaLEDy/dBMvPOpsag6e0/4xRJw9KOpUcVJ1FAnqTo5NzqEIr/QQmNp.MhzZlud1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Self-Support" --usage="Development/Test"
# System timezone
timezone America/New_York --isUtc

%packages
@^minimal-environment
@guest-agents
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

reboot
